@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/font-awesome/scss/font-awesome.scss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* display: flex; */
    justify-content: center;
}

.titleKegiatan
{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.kegiatan {
    width: 100%;
}

.containerKegiatan
{
    width: 100vw;
    position: relative;
    padding: 50px;
}

.formKegiatan
{
    width: 203%;
    justify-content: center;
    align-items: center;
}

.cardForm
{
    width: 50%;
    height: 260%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 24%;
}

.tableKegiatan
{
    position: absolute;
    width: 80%;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 10%;
}

.formOleh
{
    width: 40%;
    position: absolute;
    left: 56.5%;
}

.formWaktu
{
    width: 25%;
    position: absolute;
    left: 29.5%;
}

.formTanggal
{
    width: 25%;
    position: absolute;
}

.formDesc
{
    position: absolute;
    width: 46%;
    left: 50.5%;
}

.formLokasi
{
    position: absolute;
    width: 46%;
}

.formRelawan
{
    position: absolute;
    width: 46%;
}

.btnFormKegiatan
{
    position: absolute;
    left: 45%;
}

.contGAL
{
    width: 50vw;
}

.tableGal
{
    width: 50vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
}

.titleGal
{
    margin-top: 10%;
    font-size: 1.3rem;
    text-align: center;
    background-color: #FAF096;
}

.inputIMG
{
    justify-content: center;
    position: relative;
    left: 21%;
}

.logoBIN
{
    justify-content: center;
    align-items: start;
    position: relative;
    left: -19%;
}

.imgBIN img
{
    scale: 30%;
}

.formGAL
{
    justify-content: center;
    position: relative;
    left: 35%;
}

.cardGAL
{
    width: 30vw;
    height: 20vh;
    border-radius: 10%;
    position: relative;
    left: 20%;
}

.fileGAL
{
    position: relative;
    left: 25%;
    
}

.nameGAL
{
    font-size: x-large;
}

.btnFormGalleri
{
    position: absolute;
    left: 45%;
    top: 60%;
}

.titlegalleri
{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    position: relative;
    left: 34%;
}

.titleSPONSOR
{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.contSPONS
{
    border-radius: 100px;
}

.tableSPONS
{
    width: 60vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.tabsSPONS
{
    width: 60vw;
    border-radius: 10px;
}

.colSPONS
{
    border-radius: 10px;
    margin: 20%;
    
}

.imgEDIT
{
    position: relative;
    left: 20%;
}

.imgDEL
{
    position: relative;
    left: -135%;
}

.cardSPONS
{
    width: 35vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.btnSUBMITspons
{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 45%;
}

.bgEDITSPONS
{
    background-color: #FAF096;
}

.titleINS
{
    font-weight: 500;
}

.contEDSPONS
{
    width: 40vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    top: 50%;
    transform: translate(0%,150%);
}

.btnSUBMITEDspons
{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 45%;
    font-weight: 700;
}

.photoVOL
{
    margin-right: 30px;
    width: 50%;
}

.asalVOL
{
    width: 50%;
}

.tabVOL
{
    width: 60vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.contEDVOL
{
    width: 40vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    top: 50%;
    transform: translate(0%,80%);
}

.titleNAMEvol
{
    margin-right: 8%;
    font-weight: 500;
}

.titleASALvol
{
    margin-right: -1%;
    font-weight: 500;
}

.titleTELPvol
{
    margin-right: -15%;
    font-weight: 500;
}

.titlePHOTOvol
{
    margin-right: -15%;
    font-weight: 500;
}

.cardKEGIATAN
{
    width: 50vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 24%;
    margin-top: 100px;
}

.btnSUBMITkegiatan
{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 45%;
    margin-top: 40px;
}
.jadwalKEG
{
    margin-right: 30px;
    width: 50%;
    height: 30px;
}

.dateKEG
{
    height: 44px;
}

.lokasiKEG
{
    height: 43px;
}

.labelVOL
{
    margin-right: 47%;
}