@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/font-awesome/scss/font-awesome.scss";

@font-face {
    font-family: "Kanit-Regular";
    src: local("Kanit-Regular"),
        url(../Font/Kanit-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* display: flex; */
    justify-content: center;
}
